
onTrack/.vs/onTrack/DesignTimeBuild/.dtbcache.v2
onTrack/.vs/onTrack/v17/.suo
onTrack/.vs/onTrack/v17/.suo
*.v2
onTrack/.vs/onTrack/FileContentIndex/ecd845be-4fed-454b-9acb-8fd4b8d8ac35.vsidx
onTrack/.vs/onTrack/FileContentIndex/read.lock
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/App.g.i.cs
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/MainWindow.g.i.cs
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.assets.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.csproj.AssemblyReference.cache
*.cache
*.vsidx
*.cs
*.cache
*.cs
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_MarkupCompile.i.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.csproj.AssemblyReference.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.assets.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/MainWindow.g.i.cs
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/App.g.i.cs
onTrack/.vs/onTrack/v17/.suo
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/App.g.i.cs
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/MainWindow.g.i.cs
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.assets.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.csproj.AssemblyReference.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_MarkupCompile.i.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_MarkupCompile.i.lref
*.v2
onTrack/.vs/onTrack/v17/.suo
*.user
*.1
onTrack/onTrack/onTrack.csproj.user
onTrack/onTrack/onTrack.csproj.user
onTrack/onTrack/obj/project.nuget.cache
onTrack/onTrack/obj/project.assets.json
onTrack/onTrack/obj/onTrack_hw4sabiu_wpftmp.csproj.nuget.g.targets
onTrack/onTrack/obj/onTrack_hw4sabiu_wpftmp.csproj.nuget.g.props
onTrack/onTrack/obj/onTrack_hw4sabiu_wpftmp.csproj.nuget.dgspec.json
onTrack/onTrack/obj/onTrack.csproj.nuget.g.props
onTrack/onTrack/obj/onTrack.csproj.nuget.dgspec.json
onTrack/onTrack/onTrack.csproj.user
onTrack/onTrack/obj/project.nuget.cache
onTrack/onTrack/obj/project.assets.json
onTrack/onTrack/obj/onTrack.csproj.nuget.g.props
onTrack/onTrack/obj/onTrack.csproj.nuget.dgspec.json
onTrack/onTrack/onTrack.csproj.user
onTrack/onTrack/obj/project.nuget.cache
onTrack/onTrack/obj/project.assets.json
onTrack/onTrack/obj/onTrack.csproj.nuget.g.props
onTrack/onTrack/obj/onTrack.csproj.nuget.dgspec.json
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_1w44usrs_wpftmp.csproj.BuildWithSkipAnalyzers
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_1w44usrs_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_2eklmcsf_wpftmp.csproj.BuildWithSkipAnalyzers
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_2eklmcsf_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_3gqdiuos_wpftmp.csproj.BuildWithSkipAnalyzers
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_3gqdiuos_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_dwkzo3us_wpftmp.csproj.BuildWithSkipAnalyzers
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_dwkzo3us_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_hw4sabiu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_kqls5kxg_wpftmp.csproj.BuildWithSkipAnalyzers
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_kqls5kxg_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_MarkupCompile.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_MarkupCompile.i.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_MarkupCompile.lref
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_ncb5cfyg_wpftmp.csproj.BuildWithSkipAnalyzers
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_ncb5cfyg_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_obwsfmec_wpftmp.csproj.BuildWithSkipAnalyzers
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_obwsfmec_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_q10na0ca_wpftmp.csproj.BuildWithSkipAnalyzers
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_q10na0ca_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_qquxs5pc_wpftmp.csproj.BuildWithSkipAnalyzers
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_qquxs5pc_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_v0w5sp1y_wpftmp.csproj.BuildWithSkipAnalyzers
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_v0w5sp1y_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_wjg1lirr_wpftmp.csproj.BuildWithSkipAnalyzers
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_wjg1lirr_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_xecm4aj4_wpftmp.csproj.BuildWithSkipAnalyzers
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_xecm4aj4_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.csproj.AssemblyReference.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.csproj.BuildWithSkipAnalyzers
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.csproj.CoreCompileInputs.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.csproj.FileListAbsolute.txt
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.dll
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.g.resources
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.pdb
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_MarkupCompile.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_MarkupCompile.i.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/ref/onTrack.dll
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/refint/onTrack.dll
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.csproj.AssemblyReference.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.csproj.CoreCompileInputs.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.csproj.FileListAbsolute.txt
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.dll
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.g.resources
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.pdb
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_MarkupCompile.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_MarkupCompile.i.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/ref/onTrack.dll
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/App.baml
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/App.g.cs
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/App.g.i.cs
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/apphost.exe
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/MainWindow.baml
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/MainWindow.g.cs
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/MainWindow.g.i.cs
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.assets.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/Views/SettingsView.baml
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/Views/TimerView.baml
onTrack/.vs/onTrack/v17/.suo
onTrack/.vs/onTrack/DesignTimeBuild/.dtbcache.v2
onTrack/onTrack/bin/Debug/net6.0-windows10.0.17763.0/Microsoft.Windows.SDK.NET.dll
onTrack/onTrack/bin/Debug/net6.0-windows10.0.17763.0/onTrack.deps.json
onTrack/onTrack/bin/Debug/net6.0-windows10.0.17763.0/onTrack.dll
onTrack/onTrack/bin/Debug/net6.0-windows10.0.17763.0/onTrack.exe
onTrack/onTrack/bin/Debug/net6.0-windows10.0.17763.0/onTrack.pdb
onTrack/onTrack/bin/Debug/net6.0-windows10.0.17763.0/ref/onTrack.dll
onTrack/onTrack/bin/Debug/net6.0-windows10.0.17763.0/WinRT.Runtime.dll
onTrack/onTrack/obj/onTrack.csproj.nuget.dgspec.json
onTrack/onTrack/obj/onTrack.csproj.nuget.g.props
onTrack/onTrack/obj/project.assets.json
onTrack/onTrack/obj/project.nuget.cache
onTrack/onTrack/onTrack.csproj.user
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/App.g.i.cs
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/MainWindow.g.i.cs
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.assets.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.csproj.AssemblyReference.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_MarkupCompile.i.cache
