
onTrack/.vs/onTrack/DesignTimeBuild/.dtbcache.v2
onTrack/.vs/onTrack/v17/.suo
onTrack/.vs/onTrack/v17/.suo
*.v2
onTrack/.vs/onTrack/FileContentIndex/ecd845be-4fed-454b-9acb-8fd4b8d8ac35.vsidx
onTrack/.vs/onTrack/FileContentIndex/read.lock
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/App.g.i.cs
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/MainWindow.g.i.cs
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.assets.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.csproj.AssemblyReference.cache
*.cache
*.vsidx
*.cs
*.cache
*.cs
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_MarkupCompile.i.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.csproj.AssemblyReference.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack.assets.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/MainWindow.g.i.cs
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/App.g.i.cs
