
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_b5othztq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_b5othztq_wpftmp.csproj.BuildWithSkipAnalyzers
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_b5othztq_wpftmp.assets.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_b5othztq_wpftmp.AssemblyInfoInputs.cache
onTrack/onTrack/obj/Debug/net6.0-windows10.0.17763.0/onTrack_b5othztq_wpftmp.AssemblyInfo.cs
onTrack/.vs/onTrack/v17/.suo
onTrack/.vs/onTrack/v17/.futdcache.v2
